*{
  margin: 0;
  padding: 0;
}
body,html{
  font-size: 24px;
  background: #fafafa;
}

.App{
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: url(https://shorturl.at/coZ03);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container{
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.titleContainer{
  margin: 1rem auto;

}

h1{
  padding: 2rem;
  background-color: #353941;
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 10px;
  mix-blend-mode: luminosity  ;
  color: #fafafa;
  text-shadow: red -2px 0, cyan 2px 0;
}

